
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("./b-g.jpg");
    overflow-x: hidden;
}
.banner{
    position: relative;
     width: 100%;
     height: 60vh;
    text-align: center;
    position: relative;
    z-index: 1010;
    padding-top: 12%;
}
.banner::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.6;
     background-image: url("./Sliding Images/performance.jpg"), linear-gradient(180deg, transparent 40%, black 60%);
     /* background-color: red; */
     background-position: center; 
    background-size: cover;
}
.img{
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     align-items: center;
     
}
.img img{
     border: 6px solid #1E88E5; 
     width: 320px; 
     padding: 10px;
    border-radius: 50%; 
    box-shadow: 4px 4px 50px rgb(80, 77, 77);
    z-index: 1000;
}
.img h1{
    z-index: 1000;
}

#menu{
    padding-top: 10%;
    padding-left: 30px;
    padding-right: 30px;

}
#menu ul{
    background-color: white;  
    border-radius: 50px; 
    box-shadow: 0px 0px 40px #727070ce;
    padding-right: 20px;
}
#menu ul li{
    padding: 20px;
}
#menu ul li a{
     text-decoration: none;
    color: black;
   
}
#menu ul li a:hover{
    text-decoration: underline 4px solid #1E88E5;
    text-underline-offset: 10px;
}
.right-button {
    text-align: right;
}
.right-button button{
    border: 1px solid #1E88E5; border-radius: 40px; font-size: 20px; background:  #1E88E5; color: white;
    transition: .3s all ease-out;
   
}
.right-button button:hover{
    background-color: white;
    border: 1px solid  #020202;
    color: #000000;
}
@media screen and (max-width:850px) {
    .img img{
        border: 6px solid #1E88E5; 
        width: 320px;
    }
.right-button {
    text-align: center;
}
        #menu{
            padding-top: 25%;
        }
        #video-row{
            padding: 5%;
        }
        
}


@media screen and (max-width:470px){
    .img img{
        border: 6px solid #1E88E5; 
        width: 270px;
    }
    #menu{
        padding-top: 10%;
        padding-left: 0px;
        padding-right: 0px;
    
    }
    .banner::before{
        height: 70%;
    }
    #menu ul li{
        padding: 20px 10px;
    }
    #button3{
        display: flex; justify-content: center; text-align: center;
    } 
    #video-row{
        padding: 5%;
    }
    

}
@media screen and (max-width:400px){
    .img img{
        border: 6px solid #1E88E5; 
        width: 200px;
    }
    .banner::before{
        height: 55%;
    }
    #menu ul li{
        padding: 20px 5px;
    }
    #search-icon{
        display: none;
    }
}
#button-2{
    background-color: #1E88E5;
    color: white;
    border: 2px solid rgb(224, 220, 220);
    transition:.3s ease-in-out;
}
#button-2:hover{
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.icons img{
    transition: .4s all ease-in-out;
    border: 1px solid black;
}
.icons img:hover {
    /* transform: scale(1.3) rotate(-7deg); */
    transform: scale(1.1);
    border: 1px solid #1E88E5;
    filter: drop-shadow(1px 1px 5px #1E88E5);

    /* background: #1E88E5; */
}
.menus ul a li:hover{
    text-decoration: underline 3px #1E88E5;
    text-underline-offset: 5px;
}
#button3{
    display: flex; justify-content: right; text-align: right;
}
#button-3{
    border: 1px solid #1E88E5 ;  border-radius: 35px; background:  #1E88E5; color: white;
    transition: .3s all ease-out; font-size: 14px;
}
#button-3:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
#button-5{
    border: 1px solid #1E88E5 ; border-radius: 35px; background:  #1E88E5; color: white;
    transition: .3s all ease-out;
    padding: 0 20px;
    
}
#button-5:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

#video-row{
    display: flex;
    overflow-x: auto;
    padding: 5%;
}
